body{
    background-color:rgb(247, 233, 245);
}
#content { 
    width: 600px; 
    margin: 0 auto; 
    margin-top: 50px; 
    text-align: center; 
    font-family: 'Helvetica Neue', arial; 
    font-weight: 100;
  }
   
   div.eight-ball {
     background-color: rgb(27, 1, 14);
     border: 1px solid rgb(232, 230, 231);
     border-radius: 50%;
     width: 300px;
     height: 300px;
     margin: 0 auto;
     margin-bottom: 30px;
     margin-top: 30px;
   }
   
   div.answer {
     background-color: rgb(153, 120, 183);
     border: 1px solid rgb(3, 0, 4);
     border-radius: 50%;
     width: 50%;
     height: 50%;
     margin: 25% auto;
   }
   
   p#eight {
    font-family: "Brandon Grotesque Regular";
     font-size: 2rem;
     margin: 30% auto;
     color: rgb(255, 255, 255);
   }
   
   p#answer {
     padding: 23px;
     color: rgb(255, 255, 255);
     letter-spacing: 2px;
     font-size:18px;
     margin-top: 20;
   }
   
   #question {
     margin: 20px;
     padding: 10px;
     width: 400px;
     font-size:22px;
   }
   
   #info {
     font-size: 22px;
     font-family: "Brandon Grotesque Regular";
     color:rgb(26, 1, 18);
   }